<h1>About</h1>

<p>I believe that everyone should have access to enterprise-grade technology. It is this reason that
I started dreaming and building out this company in early 2025, and it is why I still work tirelessly
to bring big tech to small business</p>

<p><%= link_to('Contact Us', {:action => 'contact', :country => 'us'}) %></p>